html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    border:0;  font:inherit;  font-size:100%;  margin:0;  padding:0;  vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {  display:block;  }
html, body {background: #181818; font-family: Verdana, sans-serif; font-size: 16px; color: #222;}
.clear {clear: both;}

a{
    text-decoration: none;
}
a:hover,
#contactDetails ul li a:hover{
    color: #cf8a05;
}
#contactDetails ul li a,
nav a{
    color: #E4E4E4;
}

p {
	margin-bottom: 1.2em;
	color: #444;
}
#cv {
	width: 90%;
	max-width: 800px;
	background: #f3f3f3;
	margin: 30px auto;
    border-radius: 5px;
}
nav{
    width: 200px;
    position: fixed;
    top: 30px;
    right: 0;
    padding: 0 30px;
    border-bottom: 2px solid #cf8a05;
    background: #303133;
}
nav a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
nav .additional{
    font-size: 0.8em;
}

a {
    outline: none!important;
}
i.fa {
    width: 16px;
}

.mainDetails {
	padding: 15px 25px;
	border-bottom: 2px solid #cf8a05;
	background: #303133;
    color: #E4E4E4;
}

#name h1 {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 1.5em;
}

#mainArea {
	padding: 0 40px 20px 40px;
}

#headshot {
	float: left;
	margin-right: 15px;
}

#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    box-shadow: 0 0 5px rgb(228, 228, 228);
}

#name {
    float: right;
    margin: 0 1em 0.5em;
}

#contactDetails {
	float: right;
    padding: 5px 0 0 0;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
    display: inline-block;
    text-align: left;
}

#contactDetails ul li {
	margin-bottom: 3px;
    line-height: 1.5em;
}
#contactDetails ul:last-child{
    margin-left: 2em;
}


section {
    padding: 20px 0 0 0;
    display: inline-block;
    display: -moz-inline-stack;
    vertical-align: top;
    width: 48%;
}
section:first-child{
    padding-right: 1em;
}

.sectionTitle h1 {
	font-style: italic;
	font-size: 1.5em;
	color: #cf8a05;
}

.keySkills li {
	margin-bottom: 3px;
    position: relative;
}

.keySkills .stars{
    float: right;
}

.interests {
    list-style-type: none;
    font-size: 2em;
    color: #444;
}
.interests i.fa{
    width: 36px;
}

.certificates,
.projects,
.keySkills {
    list-style: none;
}
.projects,
.keySkills {
    margin-bottom: 1em;
    color: #444;
}

.projects li{
    display: inline;
    margin-right: 1em;
}
.certificates li{
    min-height: 30px;
}

/******************************************************
                       ANIMATION
******************************************************/

@-webkit-keyframes blinkz {
    10% { transform: scale(1, 1) rotate(80deg); }
    20% { transform: scale(0, 0) rotate(160deg); }
    100% { transform: scale(0, 0) rotate(0deg); }
}
@keyframes blinkz {
    10% { transform: scale(1, 1) rotate(80deg); }
    20% { transform: scale(0, 0) rotate(160deg); }
    100% { transform: scale(0, 0) rotate(0deg); }
}
.blinkz {
    position: relative;
    display: inline-block;
    text-shadow: 0 0 10px #3d7a97;
}
.blinkz:after, .blinkz:before {
    content: "";
    position: absolute; top: 0; left: 0;
    display: block;
    width: 100px;
    height: 100px;
    background-image:
    radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0) 30%),
    linear-gradient(45deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%),
    linear-gradient(135deg, rgba(0,0,0,0) 49%, rgba(255,255,255,.4) 50%, rgba(0,0,0,0) 51%);
    animation: blinkz 10s linear infinite;
    transform: scale(0, 0) rotate(0deg);
    -webkit-animation: blinkz 10s linear infinite;
}
.blinkz:before {
    top: -30%;
    right: 0; left: auto;
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
}
/**********************************************************
                           SIZES
**********************************************************/
@media all and (max-width: 700px) {
    #cv {
        width: 95%;
        margin: 10px auto;
        min-width: 280px;
    }
    #cv .mainDetails{
        padding: 0;
    }

    nav{
        display: none;
    }

    #headshot {
        display: none;
    }

    #name, #contactDetails {
        float: none;
        width: 100%;
        text-align: center;
    }

    #contactDetails ul{
        font-size: 0.8em;
    }

    .sectionTitle, .sectionContent {
        float: none;
        width: 100%;
    }

    .sectionTitle {
        margin-left: -2px;
        font-size: 1.25em;
    }
    section {
        padding: 15px 0 0;
        width: 100%;
        display: block;
    }
}
