<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/mini.css"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>
</head>
<body>
<div class="wrapabout">
    <pre>    {
      "<span class="hl">Name</span>": "<span class="hl">Jyrki Lindblom</span>",
      "<span class="hl">Email</span>": "<a href="mailto:korvinus666@gmail.com" target="_blank">korvinus666@gmail.com</a>",
      "<span class="hl">GitHub</span>": "<a href="//github.com/j69" target="_blank">j69</a>",
      "<span class="hl">GitBook</span>": "<a href="//www.gitbook.com/book/j69" target="_blank">j69</a>",
      "<span class="hl">LinkedIn</span>": "<a href="//www.linkedin.com/in/korv666/" target="_blank">korv666</a>",
      "<span class="hl">Twitter</span>": "<a href="//twitter.com/JPTales" target="_blank">@JPTales</a>",
      "<span class="hl">Packagist</span>": "<a href="//packagist.org/packages/j69/" target="_blank">J69</a>",
      "<span class="hl">Upwork</span>": "<a href="//www.upwork.com/o/profiles/users/_~017c0c65b95860aadf/" target="_blank">Jyrki L.</a>",
      "<span class="hl">Projects</span>": [
        "<span class="hl"><a href="//iceye.fi/iceye.fi" target="_blank">Iceye</a></span>",
        "<span class="hl"><a href="//bandtraq.com/bq/" target="_blank">Bandtraq</a></span>",
        "<span class="hl"><a href="//fidelity-media.com/" target="_blank">Fidelity-Media</a></span>",
      ],
      "<span class="hl">Likes</span>": [
        "<span class="hl">Python</span>",
        "<span class="hl">Go</span>",
        "<span class="hl">PostgreSQL</span>",
        "<span class="hl">Javascript</span>",
        "<span class="hl">Node.js</span>",
        "<span class="hl">Cloud Computing</span>"
        "<span class="hl">EVs</span>"
        "<span class="hl">Tesla</span>"
        "<span class="hl">SpaceX</span>"
      ]
    }
    </pre>
</div>

<div class="wrapinfo">
    <div id="main" role="main" class="container">
        {{ content }}
    </div>
</div>

{% include analytics.html %}
</body>
</html>
